/* Variables */

:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-primary-dark: hsl(158, 36%, 37%);
  --clr-primary-hover: hsla(157, 43%, 18%, 1);
  --clr-primary-light: hsl(30, 38%, 92%);
  --clr-neutral-dark: hsl(212, 21%, 14%);
  --clr-neutral-light: hsl(228, 12%, 48%);

  --ff-sans: 'Montserrat', sans-serif;
  --ff-serif: 'Fraunces', serif;

  --fw-medium: 500;
  --fw-bold: 700;
}
